label{
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold ;
    width: 90px;
}

input, textarea{
    display: inline-block;
    width: 200px;
    border: 1px solid#CCC;
    box-shadow: inset 2px 2px 2px #EEE;
    font-size: 0.9em;
    padding: 2px 5px;
}

textarea{
    height: 100px;
}

.hint{
    background-color: #FFFBE4;
    border-radius: 3px;
    border: 1px solid#CCC;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    display: none;
    font-size: 0.8em;
    margin-left: 20px;
    padding: 3px;
}

input:focus + .hint, textarea:focus + .hint{
    display: inline-block;
}

.error{
    color: red;
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin: 5px 0 0 90px;
}

.label2{
    display: none;
}
.input2{
    display: block;
    border-radius: 3px 3px 0 0;
    border: 1px solid#999;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    font-size: 0.8em;
    padding: 5px;
    font-weight: bold;
}
.button2{
    margin-top: 5px;
    background-color: #6DA033;
    background-image: linear-gradient(bottom, #6DA033 47%, #87C442 55%);
    border-radius: 13px;
    border: 1px solid#588129;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4);
    color: white;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}
.button2:hover{
    background-color: #618F2D;
    background-image: linear-gradient(bottom, #618F2D 47%, #79B238 55%);
    border-color: #4E7324;
}

.button2:active{
    background-color: #618F2D;
    background-image: none;
    border-color: #405E1E;
    box-shadow: inset 0 2px 1px rgba(0,0,0, 0.15);
}

input[type='password']{
    border-radius: 0 0 3px 3px;
    border-top: none  ;
}

::-webkit-input-placeholder{
    color: #666;
    font-style: italic;
    font-weight: normal;
}
::-moz-placeholder{
    color: #666;
    font-style: italic;
    font-weight: normal;
}
-ms-input-placeholder{
    color: #666;
    font-style: italic;
    font-weight: normal;
}

.no-placeholder input{
    border-radius: 3px;
    border-top: 1pxsolid#999;
}

.no-placeholder label{
    display: block;
}

.button1{
    background-color: #E5E5E5;
    background-image: linear-gradient(top, #FFF, #E5E5E5);
    border: 1px solid#AAA;
    border-radius: 3px;
    color: #000;
    font-size: 0.8em;
    font-weight: bold;
    padding: 5px 10px;
}

.button1:hover{
    background-color: #285582;
    background-image: linear-gradient(top, #3775B3, #285582);
    border-color: #204569;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0 0 3px #3775B3;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.6);
}

.button1:active{
    background-color: #204569;
    background-image: none;
    border-color: #1A3754;
    box-shadow: inset 0 2px 1px rgba(0,0,0, 0.15);
}
